<template>
    <b-row>
        <h1>Database Generator</h1>
        <b-card style="max-width: 60rem; margin: auto">
            <b-card-title v-if="loading">
                Trying to embed data, please wait...
            </b-card-title>
            <b-card-title v-if="success">
                Data generated...
            </b-card-title>
            <b-col cols="12">
                <b-btn variant="success" @click="generateDB()">generate db</b-btn>
            </b-col>
            <b-col cols="12" class="mt-2">
                <v-server-table
                    :columns="['nama','rank kelas','rank sekolah', 'rank']"
                    :options="options"
            />
            </b-col>
        </b-card>
    </b-row>
</template>

<script>
import axios from 'axios'
import faker from '@faker-js/faker'

export default {
    data () {
        return {
            tableData: [],
            loading: false,
            success: false,
            options: {
                requestFunction() {
                    return axios.get(this.$serverUrl + '/sekolah/siswa')
                    .catch(err => {
                        this.dispatch('Error', err)
                        console.log(err);
                    });
                },responseAdapter({data}) {
                    return {
                        data,
                        count: data.length
                    }
                }, filterable: false
            }
        }
    },
    methods: {
        showRank () {
            return axios.get(this.$serverUrl + '/sekolah/siswa').then(result => {
                if (result.status == 200) {
                    this
                } else {
                    console.log('ERR:' + result.status);
                    return false;
                }
            }).catch(err => {
                console.log(err);
                return false;
            });
        },
        generateSekolah () {
            return axios.post(this.$serverUrl + '/sekolah/insert-sekolah').then(result => {
                if (result.status == 200) {
                    return true;
                } else {
                    console.log('ERR:' + result.status);
                    return false;
                }
            }).catch(err => {
                console.log(err);
                return false;
            });
        },
        generateKelas() {
            return axios.post(this.$serverUrl + '/sekolah/insert-kelas', {
                nama: `${faker.company.companyName()}`
            }).then(result => {
                if (result.status == 200) {
                    return true;
                } else {
                    console.log('ERR:' + result.status);
                    return false
                }
            }).catch(err => {
                console.log(err);
                return false;
            });
        },
        generateSiswa() {
            return axios.post(this.$serverUrl + '/sekolah/insert-kelas', {
                nama: `${faker.company.companyName()}`,
                nilai: `${faker.datatype.float({
                    min: 1,
                    max: 100,
                })}`
            }).then(result => {
                if (result.status == 200) {
                    return true;
                } else {
                    console.log('ERR:' + result.status);
                    return false;
                }
            }).catch(err => {
                console.log(err);
                return false;
            });
        },
        generateDB() {
            this.loading = true;
            this.success = false;
            this.generateSekolah()
            .then(res => {
                if (res) {
                    return this.generateKelas().then(res2 => {
                        if (res2) {
                            return Promise.resolve(true);
                        } else {
                            return Promise.reject(false);
                        }
                    })
                }
            }).then (res2 => {
                if (res2) {
                    return this.generateSiswa().then(res3 => {
                        this.loading = false;
                        this.success = true;
                        if (res3) {
                            return Promise.resolve(true);
                        } else {
                            return Promise.reject(false);
                        }
                    })
                } else {
                    return Promise.reject(false);
                }
            }).catch(err => {
                this.loading = false;
                console.log('generate db result '+err);
                window.alert('Something is wrong!');
            })
        }
    },
    mounted() {
    },
}
</script>